
.login-box {
    width: 400px;
    height: 420px;
    background: rgb(62, 95, 115);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border:1px,solid, #000;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
.login-box h2{
    margin: 0;
    padding: 0 0 20px;
    color: #000000;
    text-align: center;
}
.login-box input {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #0056b3;
}

.links a {
    display: block;
    margin: 5px 0;
    color: #007BFF;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
.login-box footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #007BFF;
    color: white;
    border-radius: 0 0 10px 10px;
    font-size: 15px;
}

.logo-box{
    display: flex;
    position: absolute; 
    top: 2%;
    left: 16%;
}

.logo-box img{
    width: 80%;
}